# Dependencias
node_modules/

# Build
dist/
build/

# Variables de entorno
.env
.env.local
.env.production

# Editor
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
backend/venv/
