# Supabase Credentials
SUPABASE_URL="AQUÍ_TU_URL_DE_SUPABASE"
SUPABASE_SERVICE_ROLE_KEY="AQUÍ_TU_SERVICE_ROLE_KEY" # Muy importante usar el service_role key, no el anon key
SLACK_WEBHOOK_URL="AQUÍ_TU_WEBHOOK_DE_SLACK"

# Email (Opcional)
EMAIL_SENDER="tu_correo_que_envia@gmail.com"
EMAIL_PASSWORD="tu_password_de_aplicacion_gmail" # Debes crear un App Password en Gmail si usas 2FA
EMAIL_RECEIVER="correo_que_recibe@gmail.com"
